Repository gradle/kotlin-dsl, pull requests merged in 2018-09, with the labels that each got.

#1093 Compile accessors to a classes dir instead of a jar
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPathIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinInitScriptIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/KotlinCompilerTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/GradlePluginSampleTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/PrecompiledScriptPluginSampleTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/PatternMatcher.kt
Labels: in:kotlin-dsl-compilation, re:runtime-safety

#1095 Add build cache configuration to the build
  buildSrc/settings.gradle.kts
  gradle/shared-with-buildSrc/build-cache-configuration.settings.gradle.kts
  settings.gradle.kts
Labels: in:kotlin-dsl-build, re:performance

#1094 Hide a few things from API consumers in the ExtraPropertiesExtensions
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtraPropertiesExtensions.kt
Labels: a:breaking-change, in:kotlin-dsl-api

#1102 Short circuit accessors generation when project schema is empty
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
Labels: in:kotlin-dsl-compilation, re:performance

#1116 Fix a bunch of issues in the containers APIs
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedContainersDslTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/TaskContainerDslTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/fixtures/GradleApiExtensionsFixture.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractDslTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/ProjectBuilder.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/TestWithTempFiles.kt
Labels: a:bug, in:kotlin-dsl-api

#1121 Test `build` on the Android sample in addition to existing smoke test
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/HelloAndroidSampleTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/samples.kt
Labels: in:kotlin-dsl-samples

#1124 Resume continuation only once after handling model request
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
Labels: a:feature, in:kotlin-dsl-ij-resolver

#1132 Bump script language level to 1.3
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-compilation, re:ease-of-use, re:fast-feedback

#1133 Refine messages reported to the IDE editor and their lifecycle
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/EditorReports.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/resolver/KotlinScriptDependenciesResolverTest.kt
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/EditorReportsBuilder.kt
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  subprojects/tooling-builders/src/test/kotlin/org/gradle/kotlin/dsl/tooling/builders/EditorReportsBuilderTest.kt
  subprojects/tooling-models/src/main/kotlin/org/gradle/kotlin/dsl/tooling/models/KotlinBuildScriptModel.kt
Labels: in:kotlin-dsl-ij-resolver, re:editing, re:fast-feedback

#1140 Run customInstallation task after project sync
  build.gradle.kts
Labels: a:feature, in:kotlin-dsl-build, re:ease-of-use

#1135 Let the kotlin-dsl plugin configure precompiled script plugins support
  build.gradle.kts
  buildSrc/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  samples/precompiled-script-plugin/plugin/build.gradle.kts
  samples/project-with-buildSrc/README.md
  samples/project-with-buildSrc/build.gradle.kts
  samples/project-with-buildSrc/buildSrc/src/main/kotlin/MyProjectExtension.kt
  samples/project-with-buildSrc/buildSrc/src/main/kotlin/my-plugin.gradle.kts
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins/plugins.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/base/KotlinDslBasePlugin.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinDslAccessorsSnapshotTaskIntegrationTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/ProjectWithBuildSrcSampleTest.kt
Labels: in:kotlin-dsl-plugins, re:ease-of-use

#1139 IDE resolver distinguishes TAPI failures and early build failures
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/EditorReports.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/resolver/KotlinScriptDependenciesResolverTest.kt
Labels: in:kotlin-dsl-ij-resolver

#1141 Remove support for deferred configurable extensions
  samples/gradle-plugin/plugin/settings.gradle.kts
  samples/maven-publish/settings.gradle.kts
  samples/precompiled-script-plugin/plugin/settings.gradle.kts
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ProjectExtensionsTest.kt
Labels: a:breaking-change

#1142 Let this build support ProjectBuilder based tests after the upgrade to Groovy 2.5
  buildSrc/src/main/kotlin/build/GradleApiParameterNamesTransform.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedContainersDslTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/TaskContainerDslTest.kt
Labels: a:chore, in:kotlin-dsl-build

#1130 Accessors for existing elements of `tasks` and containers
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinDslAccessorsSnapshotTaskIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:content-assist, re:ease-of-use, re:groovy-parity, re:task-support

#1147 Remove usage of StartParameter.isRecompileScripts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
Labels: a:chore, in:kotlin-dsl-runtime, re:groovy-parity

#1148 Dogfood recent improvements in samples
  samples/buildSrc-plugin/buildSrc/build.gradle.kts
  samples/code-quality/build.gradle.kts
  samples/gradle-plugin/plugin/build.gradle.kts
  samples/hello-js/build.gradle.kts
  samples/kotlin-friendly-groovy-plugin/plugin/build.gradle.kts
  samples/maven-publish/build.gradle.kts
  samples/testkit/build.gradle.kts
Labels: in:kotlin-dsl-samples

#1152 Let build cache integration be disabled via system property
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use, re:performance
