Repository gradle/kotlin-dsl, pull requests merged in 2018-12, with the labels that each got.

#1277 `kotlin-dsl` plugin sets Kotlin apiVersion and languageVersion to 1.3
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
Labels: a:bug, in:kotlin-dsl-plugins

#1275 Let GenerateScriptPluginAdapters task be cacheable
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/GenerateScriptPluginAdapters.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:performance

#1276 Refine ArtifactHandlerScope
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ArtifactHandlerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ArtifactHandlerScope.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ArtifactHandlerExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api, re:ease-of-use, re:groovy-parity

#1279 Let ScriptBuildCacheKey.toString() return the key hash code
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheCommands.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/ScriptBuildCacheKeyTest.kt
Labels: a:chore, re:observability

#1280 Prefer %LOCALAPPDATA% on Windows if available for IDE resolver logs
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
Labels: a:bug, in:kotlin-dsl-ij-resolver

#1278 Generate type-safe accessors for extensions of project.dependencies
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ScriptHandlerScopeTest.kt
Labels: a:feature, in:kotlin-dsl-compilation, re:content-assist, re:ease-of-use, re:groovy-parity, re:plugin-support

#1285 Kotlin 1.3.11
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  kotlin-version.txt
  samples/ant/gradle/wrapper/gradle-wrapper.properties
  samples/build-cache/gradle/wrapper/gradle-wrapper.properties
  samples/build-scan/gradle/wrapper/gradle-wrapper.properties
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/code-quality/gradle/wrapper/gradle-wrapper.properties
  samples/composite-builds/gradle/wrapper/gradle-wrapper.properties
  samples/copy/gradle/wrapper/gradle-wrapper.properties
  samples/domain-objects/gradle/wrapper/gradle-wrapper.properties
  samples/extra-properties/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/groovy-interop/gradle/wrapper/gradle-wrapper.properties
  samples/hello-android/build.gradle.kts
  samples/hello-android/gradle/wrapper/gradle-wrapper.properties
  samples/hello-coroutines/build.gradle.kts
  samples/hello-coroutines/gradle/wrapper/gradle-wrapper.properties
  samples/hello-js/build.gradle.kts
  samples/hello-js/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kapt/build.gradle.kts
  samples/hello-kapt/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kotlin/build.gradle.kts
  samples/hello-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/hello-world/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/consumer/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-publish/build.gradle.kts
  samples/maven-publish/gradle/wrapper/gradle-wrapper.properties
  samples/model-rules/gradle/wrapper/gradle-wrapper.properties
  samples/modularity/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-config-injection/build.gradle.kts
  samples/multi-kotlin-project-config-injection/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-with-buildSrc/build.gradle.kts
  samples/multi-kotlin-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project/build.gradle.kts
  samples/multi-kotlin-project/gradle/wrapper/gradle-wrapper.properties
  samples/multi-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/project-properties/gradle/wrapper/gradle-wrapper.properties
  samples/project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/provider-properties/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/external/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/sample/gradle/wrapper/gradle-wrapper.properties
  samples/task-dependencies/gradle/wrapper/gradle-wrapper.properties
  samples/testkit/gradle/wrapper/gradle-wrapper.properties
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
Labels: a:feature, in:gradle-dist, in:kotlin-dsl-runtime, re:fast-feedback

#1281 Cleanup IDE resolver logs older than 7 days
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
Labels: a:bug, in:kotlin-dsl-ij-resolver

#1288 Let generated extensions jar be reproducible
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/IO.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/string.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/zipUtils.kt
Labels: a:bug, re:performance

#1292 Simplify `File.walkReproducibly`
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/WalkReproduciblyTest.kt
Labels: a:chore

#1299 Let `PrintAccessors` emit the same code used for the extensions jar
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessorsTest.kt
  subprojects/provider/src/test/resources/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors-expected-output.txt
Labels: a:bug, re:ease-of-use
