Repository gradle/kotlin-dsl, pull requests merged in 2018-03, with the labels that each got.

#737 Let scripts ScriptHandler be the one belonging to the script
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinBuildScriptCompiler.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptTarget.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinBuildscriptBlock.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinScriptHost.kt
  provider/src/main/kotlin/org/gradle/script/lang/kotlin/KotlinBuildScript.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
Labels: a:bug, in:kotlin-dsl-api

#744 Compile Kotlin DSL scripts from regular Kotlin source sets
  plugins/build.gradle.kts
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/PrecompiledScriptPluginTest.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledInitScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledProjectScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledScriptDependenciesResolver.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledSettingsScript.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/provider/ScriptApiTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/support/KotlinCompilerTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:plugin-support

#757 Let the embedded kotlin repository be registered as artifacts-only
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProvider.kt
Labels: a:chore, in:kotlin-dsl-plugins, re:dogfood

#759 Fix Gradle sources resolution in face of -bin snapshot distribution with GRADLE_METADATA feature preview enabled
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionProvider.kt
Labels: a:bug, in:kotlin-dsl-runtime

#752 Expose implicit imports to precompiled scripts
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledScriptDependenciesResolver.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
Labels: a:feature, in:kotlin-dsl-plugins, in:kotlin-dsl-runtime, re:ease-of-use, re:plugin-support

#760 Let Gradle distribution sources resolution be lenient in face of errors
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourceDistributionProvider.kt
Labels: a:feature, in:kotlin-dsl-runtime

#758 Introduce unambiguous PluginAware.apply() overloads
  provider/src/main/kotlin/org/gradle/kotlin/dsl/GradleExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/PluginAwareExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/SettingsExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/PluginAwareExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinInitScriptIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/ScriptCachingIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-api

#767 Expose precompiled scripts as Gradle plugins
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/ScriptPlugin.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/ScriptPluginTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractPluginTest.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:plugin-support

#768 Update wrapper to latest snapshot distro
  gradle/wrapper/gradle-wrapper.properties
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/MultiProjectWithBuildSrcSampleTest.kt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/TaskDependenciesSampleTest.kt
  samples/ant/gradle/wrapper/gradle-wrapper.properties
  samples/build-cache/gradle/wrapper/gradle-wrapper.properties
  samples/build-scan/gradle/wrapper/gradle-wrapper.properties
  samples/code-quality/gradle/wrapper/gradle-wrapper.properties
  samples/composite-builds/gradle/wrapper/gradle-wrapper.properties
  samples/copy/gradle/wrapper/gradle-wrapper.properties
  samples/domain-objects/gradle/wrapper/gradle-wrapper.properties
  samples/extra-properties/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/groovy-interop/gradle/wrapper/gradle-wrapper.properties
  samples/hello-android/gradle/wrapper/gradle-wrapper.properties
  samples/hello-coroutines/gradle/wrapper/gradle-wrapper.properties
  samples/hello-js/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kapt/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/hello-world/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/consumer/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-publish/gradle/wrapper/gradle-wrapper.properties
  samples/model-rules/gradle/wrapper/gradle-wrapper.properties
  samples/modularity/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-config-injection/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project/gradle/wrapper/gradle-wrapper.properties
  samples/multi-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/project-properties/gradle/wrapper/gradle-wrapper.properties
  samples/project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/provider-properties/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/external/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/sample/gradle/wrapper/gradle-wrapper.properties
  samples/task-dependencies/gradle/wrapper/gradle-wrapper.properties
Labels: a:chore, re:fast-feedback

#765 Generate compilable accessors in face of type erasure
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaAccessorsIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
Labels: a:bug, in:kotlin-dsl-compilation

#766 Let the<T>() and configure<T>() support nested generic queries
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionAwareExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/TypeOfExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/ExtensionAwareExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/ProjectExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStringTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-api

#769 pluginManagement block cannot appear twice in a settings script
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinBuildScriptCompiler.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptTarget.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptIntegrationTest.kt
Labels: a:breaking-change, in:kotlin-dsl-runtime, re:groovy-parity

#771 Unify delegated properties for Gradle/Project and Extra properties
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtraPropertiesExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/PropertyDelegate.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/SettingsExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/DelegatedGradlePropertiesExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/ProjectExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/DelegatedExtraPropertiesIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/DelegatedGradlePropertiesIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  samples/project-properties/build.gradle.kts
Labels: a:breaking-change, a:feature, in:kotlin-dsl-api

#783 Kotlin 1.2.31
  kotlin-version.txt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:fast-feedback

#785 Make precompiled script plugins publishable via `maven-publish`
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractPluginTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/ForcefullyDeletedTemporaryFolder.kt
Labels: a:feature, re:ease-of-use, re:plugin-support

#786 Let source roots of multi-project buildSrc be available to the IDE
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinDslProviderMode.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRequest.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/SourcePathProvider.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptModelIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/ScriptModelIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/resolver/SourcePathProviderTest.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/BuildSrcSourceRootsConfigurationAction.kt
  tooling-builders/src/main/resources/META-INF/services/org.gradle.initialization.buildsrc.BuildSrcProjectConfigurationAction
Labels: a:feature, in:kotlin-dsl-runtime, re:navigation

#789 Support precompiled `Gradle` and `Settings` script plugins
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/ScriptPlugin.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/ScriptPluginTest.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinScriptType.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
Labels: a:feature, re:ease-of-use, re:plugin-support

#790 Fix IntelliJ script dependencies ResolverEventLogger thread leak
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
Labels: a:bug, in:kotlin-dsl-runtime

#794 Provide correct classpath for precompiled script plugins to the IDE
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ConventionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginModelIntegrationTest.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:content-assist, re:editing, re:plugin-support

#798 Normalize `inline` modifier layout
  build.gradle.kts
  buildSrc/src/main/kotlin/criterion/Duration.kt
  buildSrc/src/main/kotlin/integration/Benchmark.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  provider/build.gradle.kts
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ActionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ContentFilterableExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ConventionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/CopySpecExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/DomainObjectCollectionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionAwareExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtraPropertiesExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/GradleExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/GroovyInteroperability.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ObjectConfigurationActionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/PluginAwareExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/PolymorphicDomainObjectContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/SettingsExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/GradleExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinPluginsBlock.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ServiceRegistryExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/SettingsExtensions.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractIntegrationTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
Labels: a:chore

#791 Location aware exceptions for script evaluation errors
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinBuildScriptCompiler.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptPluginFactory.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/LocationAwareScriptEvaluationIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use, re:groovy-parity
