Repository gradle/kotlin-dsl, pull requests merged in 2018-04, with the labels that each got.

#825 Use idea-ext plugin experiment
  build.gradle.kts
Labels: a:chore, in:kotlin-dsl-build

#826 Make generated precompiled script plugin code follow the kotlin-dsl coding conventions
  buildSrc/src/main/kotlin/plugins/KotlinDslPluginBundle.kt
  fixtures/plugin-compiled-against-kotlin-1.0/build.gradle
  integ-tests/.gitignore
  integ-tests/build.gradle.kts
  integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  plugins-experiments/build.gradle.kts
  plugins-experiments/src/test/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPluginTest.kt
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  settings.gradle.kts
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractPluginTest.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/string.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:ease-of-use

#819 Add `buildSrc-plugin` sample
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/BuildSrcPluginSampleTest.kt
  samples/README.md
  samples/buildSrc-plugin/README.md
  samples/buildSrc-plugin/build.gradle.kts
  samples/buildSrc-plugin/buildSrc/build.gradle.kts
  samples/buildSrc-plugin/buildSrc/src/main/kotlin/GreetPlugin.kt
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.jar
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/buildSrc-plugin/gradlew
  samples/buildSrc-plugin/gradlew.bat
  samples/buildSrc-plugin/settings.gradle.kts
Labels: a:feature, in:kotlin-dsl-samples, re:documentation, re:plugin-support

#831 Kotlin 1.2.40
  kotlin-version.txt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  provider/src/main/kotlin/org/gradle/script/lang/kotlin/KotlinBuildScript.kt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
Labels: a:feature, re:fast-feedback

#832 Remove usages of TestKit internals
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/ScriptCachingIntegrationTest.kt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/samples.kt
  test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractIntegrationTest.kt
Labels: a:chore, in:kotlin-dsl-build

#827 Process the `buildscript` block of project script plugins
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptTarget.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:groovy-parity, re:plugin-support

#624 Accessors generation for nested extensions/conventions
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchema.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/GenerateProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaAccessorsIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:content-assist, re:ease-of-use, re:groovy-parity

#838 Upgrade ktlint-gradle to 3.3.0 with relocatable check tasks
  plugins-experiments/build.gradle.kts
  plugins-experiments/src/main/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPlugin.kt
Labels: a:bug, in:kotlin-dsl-plugins

#841 Dogfood the Kotlin DSL
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/accessors/conventions.kt
  buildSrc/src/main/kotlin/build/Constants.kt
  buildSrc/src/main/kotlin/build/ExtraProperties.kt
  buildSrc/src/main/kotlin/build/KotlinPluginExtensions.kt
  buildSrc/src/main/kotlin/build/Testing.kt
  buildSrc/src/main/kotlin/codegen/GenerateClasspathManifest.kt
  buildSrc/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  buildSrc/src/main/kotlin/integration/Benchmark.kt
  buildSrc/src/main/kotlin/plugins/KotlinDslModule.kt
  buildSrc/src/main/kotlin/plugins/KotlinDslPlugin.kt
  buildSrc/src/main/kotlin/plugins/KotlinDslPluginBundle.kt
  buildSrc/src/main/kotlin/plugins/KotlinLibrary.kt
  buildSrc/src/main/kotlin/plugins/PublicKotlinDslModule.kt
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-library.gradle.kts
  buildSrc/src/main/kotlin/plugins/public-kotlin-dsl-module.gradle.kts
  integ-tests/build.gradle.kts
  plugins-experiments/src/main/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPlugin.kt
  provider/build.gradle.kts
  samples-tests/build.gradle.kts
Labels: a:feature, in:kotlin-dsl-build, re:dogfood

#842 Simplify kotlin-dsl-plugin-bundle plugin
  buildSrc/src/main/kotlin/accessors/conventions.kt
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.kt
  plugins-experiments/build.gradle.kts
  plugins/build.gradle.kts
Labels: a:chore, in:kotlin-dsl-build

#848 Kotlin 1.2.41
  kotlin-version.txt
  samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:fast-feedback
