Repository gradle/kotlin-dsl, pull requests merged in 2018-02, with the labels that each got.

#726 Do not require a sign-off from org members
  .github/dco.yml
Labels: a:chore

#724 Prefer plugin portal over repo.gradle.org
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/build/ExtraProperties.kt
Labels: a:chore, in:kotlin-dsl-build

#733 Make `buildSrc` dependencies available to script plugins in the IDE
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use

#727 Let `configure<T> { }` and `the<T>()` extensions be available to any `ExtensionAware` type
  fixtures/plugin-compiled-against-kotlin-1.0/src/main/kotlin/fixtures/ThePlugin.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionAwareExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/ExtensionAwareExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
Labels: a:breaking-change, a:feature, in:kotlin-dsl-api, re:ease-of-use
