Repository gradle/kotlin-dsl, pull requests merged in 2018-07, with the labels that each got.

#947 Prove init script plugins can be applied from init scripts
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinInitScriptIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinInitScriptModelIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/ScriptModelIntegrationTest.kt
Labels: a:chore, in:kotlin-dsl-build, re:plugin-support

#954 Prefer sourceSets extension over access via java convention
  buildSrc/src/main/kotlin/accessors/conventions.kt
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
  buildSrc/src/main/kotlin/plugins/public-kotlin-dsl-module.gradle.kts
  samples/hello-js/build.gradle.kts
  samples/kotlin-friendly-groovy-plugin/plugin/build.gradle.kts
  samples/maven-publish/build.gradle.kts
  subprojects/plugins-experiments/plugins-experiments.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/provider.gradle.kts
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/BuildSrcSourceRootsConfigurationAction.kt
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
Labels: a:chore, in:kotlin-dsl-build, in:kotlin-dsl-runtime, in:kotlin-dsl-samples

#958 Make `PrecompiledScriptPlugins` tasks lazy
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:performance

#960 Enable SAM conversion for Kotlin functions
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-compilation, in:kotlin-dsl-plugins, re:ease-of-use, re:plugin-support

#963 Make the script compilation cache relocatable
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ExecutableProgram.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/TemporaryScriptFiles.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinScriptHost.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompilerTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
Labels: a:feature, is:blocking, re:performance

#969 Let the embedded-kotlin and kotlin-dsl plugins warn on different kotlin versions
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
Labels: a:feature, in:kotlin-dsl-plugins

#968 Fix and test generated kdoc links for core plugins
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/UserGuideLinkTest.kt
Labels: a:bug, in:kotlin-dsl-runtime

#972 Let buildSrc changes be reflected in IntelliJ script editor instantly
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/precompile/PrecompiledScriptDependenciesResolver.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/resolver/ResolverCoordinatorTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:content-assist, re:fast-feedback

#977 Add some reified extensions to the Gradle API
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/BuildCacheConfigurationExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ObjectFactoryExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/SourceControlExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/BuildCacheConfigurationExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ExtensionContainerExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ObjectFactoryExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ProjectExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/SourceControlExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api

#976 Implement `kotlin-dsl` plugin progressive mode switch
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginOptions.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
Labels: a:feature, in:kotlin-dsl-plugins

#978 Let `Project` scripts be cached in the Gradle build cache
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheCommands.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheFormat.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/AbstractScriptCachingIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheFormatTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/CompilationCache.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/ScriptCachingIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/execution/InterpreterTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinSettingsScriptModelIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:dogfood, re:performance

#985 Implicitly import o.g.k.d.plugins.dsl.*
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ImplicitImports.kt
Labels: in:kotlin-dsl-plugins, in:kotlin-dsl-runtime

#914 Generates Kotlin extensions for the Gradle API
  build.gradle.kts
  samples/build-cache/settings.gradle.kts
  samples/domain-objects/build.gradle.kts
  samples/model-rules/build.gradle.kts
  samples/provider-properties/build.gradle.kts
  samples/source-control/sample/settings.gradle.kts
  samples/testkit/src/main/kotlin/samples/GreetPlugin.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins-experiments/src/test/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPluginTest.kt
  subprojects/provider/provider.gradle.kts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStrings.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsJar.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiTypeProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/PluginIdExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/SourceFileHeader.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/BuildServices.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ClassBytesRepository.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/provider/src/test/java/org/gradle/kotlin/dsl/fixtures/codegen/ClassAndGroovyNamedArguments.java
  subprojects/provider/src/test/java/org/gradle/kotlin/dsl/fixtures/codegen/ClassToKClass.java
  subprojects/provider/src/test/java/org/gradle/kotlin/dsl/fixtures/codegen/ClassToKClassParameterizedType.java
  subprojects/provider/src/test/java/org/gradle/kotlin/dsl/fixtures/codegen/GenericsVariance.java
  subprojects/provider/src/test/java/org/gradle/kotlin/dsl/fixtures/codegen/GroovyNamedArguments.java
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/ApiTypeProviderTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProviderTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/ClassBytesRepositoryTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-plugins

#989 Remove deprecated API members
  buildSrc/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/PropertyStateExtensions.kt
Labels: a:breaking-change, in:kotlin-dsl-api

#988 Add a bunch of missing kdoc on Kotlin DSL public APIs
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ConventionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/CopySpecExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtensionContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtraPropertiesExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/GroovyInteroperability.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
Labels: in:kotlin-dsl-api, re:documentation

#987 Return build cache metadata from script caching commands
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheCommands.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheFormat.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheFormatTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:performance, re:toolability

#986 Let container scope string invoke be `named`
  samples/ant/build.gradle.kts
  samples/buildSrc-plugin/buildSrc/build.gradle.kts
  samples/buildSrc-plugin/buildSrc/src/main/kotlin/GreetPlugin.kt
  samples/composite-builds/build.gradle.kts
  samples/copy/build.gradle.kts
  samples/domain-objects/build.gradle.kts
  samples/gradle-plugin/plugin/build.gradle.kts
  samples/gradle-plugin/plugin/src/main/kotlin/plugin/MyPlugin.kt
  samples/groovy-interop/build.gradle.kts
  samples/maven-plugin/build.gradle.kts
  samples/maven-publish/build.gradle.kts
  samples/precompiled-script-plugin/plugin/src/main/kotlin/my-plugin.gradle.kts
  samples/provider-properties/build.gradle.kts
  samples/source-control/external/build.gradle.kts
  samples/task-dependencies/build.gradle.kts
  samples/testkit/build.gradle.kts
  samples/testkit/src/main/kotlin/samples/GreetPlugin.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ComponentSelectionRulesTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
Labels: a:breaking-change, a:feature, in:kotlin-dsl-api

#993 Introduce typed container.named() extensions
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api

#994 Introduce reified register() extensions
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/PolymorphicDomainObjectContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api
