Repository gradle/kotlin-dsl, pull requests merged in 2018-08, with the labels that each got.

#1001 Remove org.gradle.script.lang.kotlin.KotlinBuildScript
  subprojects/provider/src/main/kotlin/org/gradle/script/lang/kotlin/KotlinBuildScript.kt
Labels: a:chore, in:kotlin-dsl-runtime

#1000 Let container delegated properties use the lazy configuration API
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/Exceptions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
Labels: a:breaking-change, a:feature, in:kotlin-dsl-api, re:ease-of-use, re:performance

#1004 Fix missing parameter names in Gradle Kotlin DSL jars
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/build/GradleApiParameterNamesTransform.kt
  buildSrc/src/main/kotlin/plugins/kotlin-library.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  samples/ant/gradle/wrapper/gradle-wrapper.properties
  samples/build-cache/gradle/wrapper/gradle-wrapper.properties
  samples/build-scan/gradle/wrapper/gradle-wrapper.properties
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/code-quality/gradle/wrapper/gradle-wrapper.properties
  samples/composite-builds/gradle/wrapper/gradle-wrapper.properties
  samples/copy/gradle/wrapper/gradle-wrapper.properties
  samples/domain-objects/gradle/wrapper/gradle-wrapper.properties
  samples/extra-properties/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/groovy-interop/gradle/wrapper/gradle-wrapper.properties
  samples/hello-android/gradle/wrapper/gradle-wrapper.properties
  samples/hello-coroutines/gradle/wrapper/gradle-wrapper.properties
  samples/hello-js/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kapt/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/hello-world/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/consumer/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-publish/gradle/wrapper/gradle-wrapper.properties
  samples/model-rules/gradle/wrapper/gradle-wrapper.properties
  samples/modularity/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-config-injection/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project/gradle/wrapper/gradle-wrapper.properties
  samples/multi-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/project-properties/gradle/wrapper/gradle-wrapper.properties
  samples/project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/provider-properties/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/external/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/sample/gradle/wrapper/gradle-wrapper.properties
  samples/task-dependencies/gradle/wrapper/gradle-wrapper.properties
  samples/testkit/gradle/wrapper/gradle-wrapper.properties
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/provider-plugins/provider-plugins.gradle.kts
  subprojects/provider/provider.gradle.kts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiTypeProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/GradleApiMetadata.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/codegen/GradleApiExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiParameterNamesTest.kt
  subprojects/test-fixtures/test-fixtures.gradle.kts
  subprojects/tooling-builders/tooling-builders.gradle.kts
Labels: a:bug, in:kotlin-dsl-api, in:kotlin-dsl-build, in:kotlin-dsl-compilation, re:content-assist, re:editing

#1007 Let all plugins have a plugin id
  build.gradle.kts
  subprojects/plugins/plugins.gradle.kts
  subprojects/provider-plugins/src/main/resources/META-INF/gradle-plugins/org.gradle.kotlin.kotlin-dsl-project.properties
  subprojects/provider-plugins/src/main/resources/META-INF/gradle-plugins/org.gradle.kotlin.kotlin-dsl-root-project.properties
Labels: a:feature, in:kotlin-dsl-plugins

#1009 Introduce the `existing` and `registering` property delegates
  buildSrc/build.gradle.kts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectProviderExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/ScriptCache.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api, re:ease-of-use, re:performance

#1011 Let the `kotlin-dsl` plugin set -Xjsr305=strict
  build.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
Labels: in:kotlin-dsl-plugins

#1010 Let all samples use configuration avoidance APIs and DSL
  samples/buildSrc-plugin/buildSrc/build.gradle.kts
  samples/extra-properties/build.gradle.kts
  samples/gradle-plugin/build.gradle.kts
  samples/gradle-plugin/plugin/build.gradle.kts
  samples/hello-android/build.gradle.kts
  samples/hello-js/build.gradle.kts
  samples/kotlin-friendly-groovy-plugin/build.gradle.kts
  samples/kotlin-friendly-groovy-plugin/consumer/build.gradle.kts
  samples/kotlin-friendly-groovy-plugin/plugin/build.gradle.kts
  samples/maven-publish/build.gradle.kts
  samples/modularity/bar.gradle.kts
  samples/modularity/foo.gradle.kts
  samples/modularity/lorem.gradle.kts
  samples/multi-kotlin-project-config-injection/build.gradle.kts
  samples/multi-project-with-buildSrc/bluewhale/build.gradle.kts
  samples/multi-project-with-buildSrc/build.gradle.kts
  samples/multi-project-with-buildSrc/buildSrc/src/main/kotlin/HelloTask.kt
  samples/multi-project-with-buildSrc/krill/build.gradle.kts
  samples/precompiled-script-plugin/build.gradle.kts
  samples/project-properties/build.gradle.kts
  samples/project-with-buildSrc/buildSrc/src/main/kotlin/HelloTask.kt
  samples/task-dependencies/build.gradle.kts
  samples/testkit/build.gradle.kts
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/ExtraPropertiesSampleTest.kt
Labels: in:kotlin-dsl-samples

#1012 Revisit `kotlin-dsl` experimental kotlin compiler settings warning
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginOptions.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
Labels: in:kotlin-dsl-plugins

#1013 Let `kotlin-dsl` plugin apply the `precompiled-script-plugins` plugin
  build.gradle.kts
  samples/precompiled-script-plugin/plugin/build.gradle.kts
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/PrecompiledScriptPluginSampleTest.kt
Labels: a:feature, in:kotlin-dsl-plugins, re:ease-of-use, re:plugin-support

#1014 Set -Xprogressive for own libs compilation only
  build.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-library.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinBuildScript.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinInitScript.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
Labels: in:kotlin-dsl-build, in:kotlin-dsl-compilation

#1015 Let the embedded-kotlin plugin add stdlib & reflect to testImplementation
  build.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
Labels: in:kotlin-dsl-plugins

#1016 Introduce the `kotlin-dsl-precompiled-script-plugins` plugin spec
  buildSrc/src/main/kotlin/codegen/GenerateKotlinDependencyExtensions.kt
  samples/precompiled-script-plugin/plugin/build.gradle.kts
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleApiExtensionsIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPluginTest.kt
Labels: a:feature, re:ease-of-use

#1017 Upgrade ktlint-gradle to 5.0.0
  build.gradle.kts
  buildSrc/build.gradle.kts
  subprojects/plugins-experiments/plugins-experiments.gradle.kts
Labels: a:feature, in:kotlin-dsl-plugins, re:fast-feedback

#1018 Downgrade JVM target of generated extensions back to 1.6
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
Labels: a:feature, in:kotlin-dsl-api, in:kotlin-dsl-runtime, re:dependency-support, re:plugin-support, re:toolability

#1027 Make the build cache keys compatible with the remote build cache
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildCacheCommands.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/ScriptBuildCacheKeyTest.kt
Labels: a:bug

#1036 Let build cache integration be enabled via system property instead of project property
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/cache/BuildServices.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/AbstractScriptCachingIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/caching/BuildCacheIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use

#1039 Let ClassBytesRepository ignore invalid classpath entries
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ClassBytesRepository.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/ClassBytesRepositoryTest.kt
Labels: a:bug, in:kotlin-dsl-runtime

#1056 Let kotlin-dsl build exercise the lazy container API
  build.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-module.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-dsl-plugin-bundle.gradle.kts
  buildSrc/src/main/kotlin/plugins/kotlin-library.gradle.kts
  buildSrc/src/main/kotlin/plugins/public-kotlin-dsl-module.gradle.kts
  samples/source-control/external/build.gradle.kts
  subprojects/integ-tests/integ-tests.gradle.kts
  subprojects/plugins-experiments/plugins-experiments.gradle.kts
  subprojects/provider/provider.gradle.kts
  subprojects/samples-tests/samples-tests.gradle.kts
  subprojects/tooling-builders/tooling-builders.gradle.kts
Labels: a:feature, in:kotlin-dsl-build

#1059 Upgrade Kotlin to 1.2.61
  kotlin-version.txt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
Labels: a:feature, in:kotlin-dsl-build, re:fast-feedback

#1060 Generate compilable accessors for extensions with types in the default package
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/DefaultPackageTypesTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
Labels: a:bug, in:kotlin-dsl-runtime, re:content-assist, re:ease-of-use

#1061 Regenerate accessors jar upon classpath changes
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/FolderBasedTest.kt
Labels: a:bug, in:kotlin-dsl-runtime, re:content-assist, re:ease-of-use, re:plugin-support

#1079 Reference guide <Migrating build logic from Groovy to Kotlin>
  README.md
Labels: re:documentation

#1072 improve the project-with-buildSrc exampe to show how to define extens…
  samples/README.md
  samples/project-with-buildSrc/README.md
  samples/project-with-buildSrc/build.gradle.kts
  samples/project-with-buildSrc/buildSrc/src/main/kotlin/extensions.kt
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/ProjectWithBuildSrcSampleTest.kt
Labels: in:kotlin-dsl-samples

#1044 Report currently edited script location aware exceptions as IDE hints
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
Labels: in:kotlin-dsl-ij-resolver

#1084 Add missing `ScriptHandlerScope.DependencyHandler.classpath` overloads
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ScriptHandlerScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/ScriptHandlerScopeTest.kt
Labels: a:bug, in:kotlin-dsl-api, re:ease-of-use

#1085 Let Gradle create the `build-scan` plugin dependency spec
  gradle/wrapper/gradle-wrapper.properties
  samples/ant/gradle/wrapper/gradle-wrapper.properties
  samples/build-cache/gradle/wrapper/gradle-wrapper.properties
  samples/build-scan/gradle/wrapper/gradle-wrapper.properties
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/code-quality/gradle/wrapper/gradle-wrapper.properties
  samples/composite-builds/gradle/wrapper/gradle-wrapper.properties
  samples/copy/gradle/wrapper/gradle-wrapper.properties
  samples/domain-objects/gradle/wrapper/gradle-wrapper.properties
  samples/extra-properties/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/groovy-interop/gradle/wrapper/gradle-wrapper.properties
  samples/hello-android/gradle/wrapper/gradle-wrapper.properties
  samples/hello-coroutines/gradle/wrapper/gradle-wrapper.properties
  samples/hello-js/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kapt/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/hello-world/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/consumer/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-publish/gradle/wrapper/gradle-wrapper.properties
  samples/model-rules/gradle/wrapper/gradle-wrapper.properties
  samples/modularity/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-config-injection/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project/gradle/wrapper/gradle-wrapper.properties
  samples/multi-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/project-properties/gradle/wrapper/gradle-wrapper.properties
  samples/project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/provider-properties/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/external/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/sample/gradle/wrapper/gradle-wrapper.properties
  samples/task-dependencies/gradle/wrapper/gradle-wrapper.properties
  samples/testkit/gradle/wrapper/gradle-wrapper.properties
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecExtensions.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use
