Repository gradle/kotlin-dsl, pull requests merged in 2018-05, with the labels that each got.

#855 Let the `kotlin-dsl` plugin add gradleKotlinDSl() to testImplementation
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPlugin.kt
  plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginTest.kt
Labels: a:feature, in:kotlin-dsl-plugins

#859 Compute script compilation classpath from target `ClassLoaderScope`
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinBuildScriptCompiler.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/TestKitIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:ease-of-use, re:groovy-parity, re:testing

#850 Generate accessors for SourceSets extensions and conventions
  provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/KotlinDslProviderPluginsServiceRegistry.kt
  provider-plugins/src/main/resources/META-INF/services/org.gradle.internal.service.scopes.PluginServiceRegistry
  provider-spi/build.gradle.kts
  provider-spi/src/main/kotlin/org/gradle/kotlin/dsl/provider/spi/KotlinTypeStrings.kt
  provider-spi/src/main/kotlin/org/gradle/kotlin/dsl/provider/spi/ProjectSchemaProvider.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchema.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/GenerateProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStringTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaAccessorsIntegrationTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
Labels: a:feature, in:kotlin-dsl-api, re:content-assist, re:ease-of-use, re:groovy-parity

#861 Detect internal Kotlin types and mark them inaccessible
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
Labels: a:bug, in:kotlin-dsl-runtime, re:ease-of-use, re:groovy-parity

#864 Add known public types mapping to accessors generation
  provider-spi/src/main/kotlin/org/gradle/kotlin/dsl/provider/spi/KotlinTypeStrings.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/GenerateProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaAccessorsIntegrationTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:content-assist, re:ease-of-use

#865 Optimise compilation classpath computation
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinBuildScriptCompiler.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:performance

#866 Let the script dependencies resolver report warnings/errors to IntelliJ
  provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:editing, re:fast-feedback

#871 Simplify splitting :provider into :provider-plugins
  build.gradle.kts
  plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
  provider-plugins/build.gradle.kts
  provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultKotlinScriptBasePluginsApplicator.kt
  provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  provider-spi/.gitignore
  provider-spi/build.gradle.kts
  provider-spi/src/main/kotlin/org/gradle/kotlin/dsl/provider/spi/AccessorsProvider.kt
  provider-spi/src/main/kotlin/org/gradle/kotlin/dsl/provider/spi/ServiceRegistryExtensions.kt
  provider/build.gradle.kts
  provider/src/main/kotlin/org/gradle/kotlin/dsl/KotlinSettingsScript.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/GradleUserHomeServices.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStrings.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/tasks/UpdateProjectSchema.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptBasePluginsApplicator.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassPathProvider.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptTarget.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/services/KotlinScriptServiceRegistry.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/GradleExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinScriptHost.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ProjectExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ServiceRegistryExtensions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/GenerateProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStringTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
  settings.gradle.kts
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptTemplateModelBuilder.kt
  tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinScriptingModelBuildersRegistrationAction.kt
Labels: in:kotlin-dsl-build, in:kotlin-dsl-runtime

#873 Refine [Named|Polymorphic]DomainObject[Collection|Container] extensions
  provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/PolymorphicDomainObjectContainerExtensions.kt
  provider/src/main/kotlin/org/gradle/kotlin/dsl/support/Exceptions.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api

#885 Add generated accessors jar to the loaded script cache key
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/GradleUserHomeServices.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptClassloadingCache.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaAccessorsIntegrationTest.kt
Labels: a:bug, in:kotlin-dsl-runtime

#901 Upgrade ktlint-gradle to 4.0.0 and ktlint to 0.23.1 in :plugins-experiments
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/plugins/public-kotlin-dsl-module.gradle.kts
  subprojects/plugins-experiments/plugins-experiments.gradle.kts
  subprojects/plugins-experiments/src/main/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPlugin.kt
Labels: a:feature, in:kotlin-dsl-plugins
