Repository gradle/kotlin-dsl, pull requests merged in 2018-06, with the labels that each got.

#910 Prevent path traversal on Gradle src dist unzip after on-demand download
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/zip.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/ZipTest.kt
Labels: a:chore, in:kotlin-dsl-runtime

#922 Avoid setting up the embedded Kotlin repository
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ExecutableProgram.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/Interpreter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgram.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/provider/KotlinScriptEvaluator.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/execution/PartialEvaluatorTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompilerTest.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:performance

#933 Decouple the versions of the Kotlin libraries used by the build and by the runtime
  build.gradle.kts
  buildSrc/build.gradle.kts
  subprojects/plugins-experiments/plugins-experiments.gradle.kts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/string.kt
Labels: a:chore, in:kotlin-dsl-build, re:fast-feedback

#944 Serialize TAPI model requests
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/EventLoop.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRequest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:editing, re:performance
