Repository gradle/kotlin-dsl, pull requests merged in 2018-11, with the labels that each got.

#1239 Let generated source code import default package types
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/AsmExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/DefaultPackageTypesTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TestWithClassPath.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractDslTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/TestWithTempFiles.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/zipUtils.kt
Labels: a:feature, in:kotlin-dsl-compilation, re:content-assist, re:documentation, re:ease-of-use

#1241 Remove dependencies pinning from `embedded-kotlin` and add cross-kotlin-version coverage
  build.gradle.kts
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPlugin.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslPluginGradlePluginCrossVersionSmokeTest.kt
  subprojects/plugins/src/test/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPluginTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/EmbeddedKotlinProvider.kt
Labels: in:kotlin-dsl-plugins

#1245 Use a single IO thread per build
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/Emitter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/BuildServices.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/IO.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/WriterThread.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/services/KotlinScriptServiceRegistry.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/concurrent/DefaultAsyncIOScopeFactoryTest.kt
Labels: a:feature, in:kotlin-dsl-compilation, in:kotlin-dsl-runtime, re:performance

#1246 Let `creating` property delegate use `create` instead of `register`
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
Labels: a:breaking-change, in:kotlin-dsl-api, re:ease-of-use

#1247 Let `getting` property delegate use `getByName` instead of `named`
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
Labels: a:breaking-change, in:kotlin-dsl-api, re:ease-of-use

#1252 Refine delete gradle/project-schema.json message
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
Labels: in:kotlin-dsl-runtime

#1248 Kotlin 1.3.10
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  kotlin-version.txt
  samples/ant/gradle/wrapper/gradle-wrapper.properties
  samples/build-cache/gradle/wrapper/gradle-wrapper.properties
  samples/build-scan/gradle/wrapper/gradle-wrapper.properties
  samples/buildSrc-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/code-quality/gradle/wrapper/gradle-wrapper.properties
  samples/composite-builds/gradle/wrapper/gradle-wrapper.properties
  samples/copy/gradle/wrapper/gradle-wrapper.properties
  samples/domain-objects/gradle/wrapper/gradle-wrapper.properties
  samples/extra-properties/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/gradle-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/groovy-interop/gradle/wrapper/gradle-wrapper.properties
  samples/hello-android/build.gradle.kts
  samples/hello-android/gradle/wrapper/gradle-wrapper.properties
  samples/hello-coroutines/build.gradle.kts
  samples/hello-coroutines/gradle/wrapper/gradle-wrapper.properties
  samples/hello-js/build.gradle.kts
  samples/hello-js/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kapt/build.gradle.kts
  samples/hello-kapt/gradle/wrapper/gradle-wrapper.properties
  samples/hello-kotlin/build.gradle.kts
  samples/hello-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/hello-world/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/consumer/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/kotlin-friendly-groovy-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/maven-publish/build.gradle.kts
  samples/maven-publish/gradle/wrapper/gradle-wrapper.properties
  samples/model-rules/gradle/wrapper/gradle-wrapper.properties
  samples/modularity/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-config-injection/build.gradle.kts
  samples/multi-kotlin-project-config-injection/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project-with-buildSrc/build.gradle.kts
  samples/multi-kotlin-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/multi-kotlin-project/build.gradle.kts
  samples/multi-kotlin-project/gradle/wrapper/gradle-wrapper.properties
  samples/multi-project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/gradle/wrapper/gradle-wrapper.properties
  samples/precompiled-script-plugin/plugin/gradle/wrapper/gradle-wrapper.properties
  samples/project-properties/gradle/wrapper/gradle-wrapper.properties
  samples/project-with-buildSrc/gradle/wrapper/gradle-wrapper.properties
  samples/provider-properties/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/external/gradle/wrapper/gradle-wrapper.properties
  samples/source-control/sample/gradle/wrapper/gradle-wrapper.properties
  samples/task-dependencies/gradle/wrapper/gradle-wrapper.properties
  samples/testkit/gradle/wrapper/gradle-wrapper.properties
Labels: a:feature, in:kotlin-dsl-runtime, re:fast-feedback

#1255 Plugin classes don't need to be open
  samples/gradle-plugin/plugin/src/main/kotlin/plugin/MyPlugin.kt
  samples/provider-properties/build.gradle.kts
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/plugins-experiments/src/main/kotlin/org/gradle/kotlin/dsl/experiments/plugins/GradleKotlinDslKtlintConventionPlugin.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/embedded/EmbeddedKotlinPlugin.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/PrecompiledScriptPlugins.kt
Labels: a:chore

#1260 C4 model core diagrams
  doc/c4/C4_1_Context.puml
  doc/c4/C4_2_Container.puml
  doc/c4/C4_3_Component.puml
  doc/c4/README.adoc
  doc/c4/build.gradle.kts
  doc/c4/images/C4_1_Context.svg
  doc/c4/images/C4_2_Container.svg
  doc/c4/images/C4_3_Component.svg
  doc/c4/lib/C4.puml
  doc/c4/lib/C4_Component.puml
  doc/c4/lib/C4_Container.puml
  doc/c4/lib/C4_Context.puml
  doc/c4/settings.gradle.kts
Labels: re:documentation
