Repository gradle/kotlin-dsl, pull requests merged in 2018-10, with the labels that each got.

#1174 Let IDE resolver not run buildSrc tests for both leniency and better responsiveness
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptModelIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/resolver/SourcePathProviderTest.kt
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/BuildSrcClassPathModeConfigurationAction.kt
  subprojects/tooling-builders/src/main/resources/META-INF/services/org.gradle.initialization.buildsrc.BuildSrcProjectConfigurationAction
Labels: a:feature, in:kotlin-dsl-ij-resolver, re:fast-feedback

#1182 Update READMEs
  README.md
  doc/getting-started/Closures.md
  doc/getting-started/Configuring-Plugins.md
  doc/getting-started/Kotlin-Versions.md
  doc/getting-started/README.md
  doc/release-notes/README.md
Labels: re:documentation

#1181 Add KotlinClosure3 for interop with trivariate Closures
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/GroovyInteroperability.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/GroovyInteroperabilityTest.kt
Labels: a:feature, in:kotlin-dsl-api, re:interoperability, re:plugin-support

#1180 Limit visibility of public api members
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyConstraintHandlerScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ExtraPropertiesExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/PluginDependenciesSpecScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ProjectExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ScriptHandlerScope.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/TaskContainerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ScriptHandlerExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensionsTest.kt
Labels: a:breaking-change, in:kotlin-dsl-api

#1164 Generate compilable accessors for container elements of default package type
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/ProjectSchemaAccessorsIntegrationTest.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/DefaultPackageTypesTest.kt
Labels: a:bug, in:kotlin-dsl-runtime, re:ease-of-use, re:plugin-support

#1188 Precompute message in order not to leak Project instance
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/dsl/KotlinDslCompilerPlugins.kt
Labels: a:bug, in:kotlin-dsl-plugins, re:performance

#1192 Add implicit import for java.util.concurrent.Callable
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/ImplicitImports.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/support/ImplicitImportsTest.kt
Labels: a:feature, in:kotlin-dsl-compilation, re:ease-of-use

#1194 Add invoke operator to Callable
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/CallableExtensions.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/CallableExtensionsTest.kt
Labels: a:feature, in:kotlin-dsl-api, re:ease-of-use, re:groovy-parity, re:plugin-support

#1199 Reduce time required to generate the project accessors
  build.gradle.kts
  buildSrc/src/main/kotlin/integration/Benchmark.kt
  buildSrc/src/main/kotlin/integration/QuickBench.kt
  subprojects/provider-plugins/src/main/kotlin/org/gradle/kotlin/dsl/provider/plugins/DefaultProjectSchemaProvider.kt
  subprojects/provider/provider.gradle.kts
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/ConventionExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/DependencyHandlerExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorBytecodeEmitter.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/CodeGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/KotlinTypeStrings.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPath.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/PluginTree.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaProvider.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/runtime/Runtime.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/accessors/tasks/PrintAccessors.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/codegen/ApiExtensionsGenerator.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/Collections.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/concurrent/WriterThread.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/execution/ResidualProgramCompiler.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/AsmExtensions.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/bytecode/KotlinMetadata.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectCollectionExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/NamedDomainObjectContainerExtensionsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/AccessorsClassPathIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/DefaultPackageTypesTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinMetadataIntegrationTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/KotlinMetadataPrintingVisitor.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginAccessorsTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/PluginTreeTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectAccessorsClassPathTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/ProjectSchemaTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TestWithClassPath.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/accessors/TypeAccessibilityProviderTest.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/architecture/PackageDependencyRulesTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/AbstractDslTest.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/SimplifiedKotlinScriptEvaluator.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/TestWithTempFiles.kt
  subprojects/test-fixtures/src/main/kotlin/org/gradle/kotlin/dsl/fixtures/Testing.kt
Labels: a:feature, in:kotlin-dsl-runtime, re:performance
