Repository gradle/kotlin-dsl, pull requests merged in 2019-01, with the labels that each got.

#1316 Let GenerateScriptPluginAdapters task clean stale outputs
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/PrecompiledScriptPluginIntegrationTest.kt
  subprojects/plugins/src/main/kotlin/org/gradle/kotlin/dsl/plugins/precompiled/GenerateScriptPluginAdapters.kt
Labels: a:bug, in:kotlin-dsl-plugins

#1326 Redirect compiler output to debug log
  samples/testkit/src/test/kotlin/samples/GreetPluginTest.kt
  subprojects/integ-tests/src/test/kotlin/org/gradle/kotlin/dsl/integration/GradleKotlinDslIntegrationTest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/support/KotlinCompiler.kt
  subprojects/provider/src/test/kotlin/org/gradle/kotlin/dsl/integration/KotlinBuildScriptIntegrationTest.kt
Labels: a:bug, in:kotlin-dsl-compilation

#1327 Update samples to Kotlin 1.3.20 and unignore test
  samples/hello-android/build.gradle.kts
  samples/hello-coroutines/build.gradle.kts
  samples/hello-js/build.gradle.kts
  samples/hello-kapt/build.gradle.kts
  samples/hello-kotlin/build.gradle.kts
  samples/maven-publish/build.gradle.kts
  samples/multi-kotlin-project-config-injection/build.gradle.kts
  samples/multi-kotlin-project-with-buildSrc/build.gradle.kts
  samples/multi-kotlin-project/build.gradle.kts
  subprojects/samples-tests/src/test/kotlin/org/gradle/kotlin/dsl/samples/SamplesSmokeTest.kt
Labels: in:kotlin-dsl-samples

#1339 Introduce resolver request correlation id
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptDependenciesResolver.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/KotlinBuildScriptModelRequest.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEvent.kt
  subprojects/provider/src/main/kotlin/org/gradle/kotlin/dsl/resolver/ResolverEventLogger.kt
  subprojects/tooling-builders/src/main/kotlin/org/gradle/kotlin/dsl/tooling/builders/KotlinBuildScriptModelBuilder.kt
Labels: a:chore, re:debugging
